@use "sass:map";
@use "sass:list";

$families: (
    "Operator Mono": (
        200: (
            normal: "../fonts/operator-mono/xlight/regular.woff",
            italic: "../fonts/operator-mono/xlight/italic.woff",
        ),
        300: (
            normal: "../fonts/operator-mono/light/regular.woff",
            italic: "../fonts/operator-mono/light/italic.woff",
        ),
        400: (
            normal: "../fonts/oeprator-mono/book/regular.woff",
            italic: "../fonts/operator-mono/book/italic.woff",
        ),
        500: (
            normal: "../fonts/operator-mono/medium/regular.woff",
            italic: "../fonts/operator-mono/medium/italic.woff",
        ),
        700: (
            normal: "../fonts/operator-mono/bold/regular.woff",
            italic: "../fonts/operator-mono/bold/italic.woff",
        ),
    )
);
@mixin face($fontFamily, $fontWeight, $fontStyle, $fontSrc, $format: "woff") {
    @at-root {
        @font-face {
            font-family: quote(unquote($fontFamily));
            font-weight: #{$fontWeight};
            font-style: #{$fontStyle};
            src: url(#{$fontSrc}) format($format);
        }
    }
}
@mixin family($fontFamily) {
    @if not $fontFamily and $fontFamilyDefault {
        $fontFamily: $fontFamilyDefault;
    }
    @each $fontWeight, $fontStyles in map-get($families, $fontFamily) {
        @each $fontStyle, $fontSrc in $fontStyles {
            @include face($fontFamily, $fontWeight, $fontStyle, $fontSrc);
        }
    }
}

@include family("Operator Mono");
